
		<div class="wrap footer-wrap" id="navigation">
			<div class="footer-links-wrap">
				<ul>
					<li><a href="http://happycog.com">Happy Cog</a></li>
					<li><a href="http://jasonweaver.name">Jason Weaver</a></li>
				</ul>
			</div>				
		</div>