
				  <p>
						<label>Name</label>
						<%= text_field_tag('nametag[name]',"Barney Rubble") %>
					</p>
				  <p>
						<label>Role</label>
						<%= text_field_tag('nametag[role]',"Neighbor") %>
					</p>
				  <p>
						<label>Saying</label>
						<%= text_field_tag('nametag[saying]', "Huh Huh Huh") %>
					</p>
				  <p>
						<label>Family</label>
						<%= text_field_tag('nametag[family_attributes][name]',"Betty Rubble") %>
					</p>
