
		<div class="wrap header-wrap">
			<h1><a href="/<%=version%>/" class="site-logo ir"><%=title%></a></h1>

			<nav class="site-nav" id="navigation" role="navigation">
				<ul>
					<li><a href="/<%=version%>">Home</a></li>
					<li><a href="/<%=version%>/samplepage">Sample Page</a></li>					
				</ul>	
			</nav>	
			<div class="site-search" id="search">
				<form>
					<input type="text" placeholder="e.g. Web Design" id="searchInput"/>
					<button type="submit">Search</button>
				</form>
			</div>
		</div>
