/* ------ Containers */
body {
	font-size: 100%;
}   
/* ------ Header */
.site-logo {
	width: 196px;
	height: 60px;
	background-size: 196px;	
}
/* ------ Navigation */



/* ------ Search */
.site-search {
	position: absolute;
	top: 40px;
	right: 0;	
	width: 300px;
	background: transparent;
}

/* ------ Form Elements */
form {
	margin: 0;	
	
	input[type="text"] {
		padding: .5em;			
	}
	button[type="submit"] {
		padding: .55em;
	}
}