

/* ------ Containers */
body {
	font-size: 87%;
}
.wrap {
	@include clearfix;
	margin: 0 5%;
	padding: 10px 0;
	position: relative;
}

/* ------ Header */
.site-header {
	background: #ddd;
}
.site-logo {
	background: url('/img/logo.png') no-repeat left center;
	width: 125px;
	height: 40px;
	display: block;
	position: relative;
	z-index:2;
	background-size: 125px;
}
/* ------ Navigation */
.site-nav {
	@include clearfix;
	
	li {
		
		&.current {
			font-weight: 900;
		}
	}
}
/* ------ Search */
.site-search {
	width: 100%;
	@include clearfix;
	display: block;
} 

/* ------ Site Search */
.site-search {
	form {
		margin: 1em 0;
		@include clearfix;		
	
		input[type="text"] {
			float: left;
			width: 75%;
		}
		button[type="submit"] {
			float: right;
			width: 25%;
		}
	}
}
/* ------ Footer */
.site-footer {
	background: #f1f1f1;
	@include clearfix;	
}
.footer-links-wrap {	
	ul {
		
		li {
			margin: 2px 0;
			a {	
				padding: 3px 0;
				display: block;
			}
		}
	}
}